main{

    h2{
        text-align: center;
        margin: 30px 0 15px 0;
        color: $azul;
        font-size: $textoG;
    }

    .main_container_productos{
        max-width: 900px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 50px auto 50px auto;

        .producto{
            width: 200px;
            height: 200px;
            margin: 15px 0 15px 0;

            img{
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: 3px solid #0c99ea28;
                transition: all ease 1s;
                &:hover{
                    border-radius: 15px;
                    border: 3px solid $azul;
                }
            }
        }
    }
}